<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div>
        <p>
            Hello and welcome to my sample website. It shows a list of asteroids that are predicted to fly near earth
            on a given day. It's not like we have enough to worry about, right?
        </p>
        <dt><h4>Why did I make this?</h4></dt>
        <dd>
            I wanted to familiarize myself with the AWS platform and how it uses Docker containers. It's not a fancy website,
            but this turned in to a good learning opportunity nonetheless.
        </dd>
        <dt><h4>How did I make this site?</h4></dt>
        <dd>
            I started out by using the stock, Docker image for <a href="https://hub.docker.com/_/httpd/">Apache</a>.
            Then, I configured it to serve a website that I created with Python FLASK. Finally, I deployed it on Amazon's Elastic Container Service,
            because it is newbie friendly.<sup>(i.e. cheap)</sup> All of the data is being pulled from NASA's Near Earth Object(NEO) API.
        </dd>
        <dt><h4>Who am I?</h4></dt>
        <dd>
            My name is Jeremy Yung and I am an IT worker in the San Francisco Bay Area. My primary focus
            is to support the backend infrastructure for development teams, by whatever means necessary. If you would like
            to learn more, please visit my <a href="https://www.linkedin.com/in/jeremyalanyung">LinkedIn profile</a>.
        </dd>
    </div>
</body>
</html>