<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div>
        <p>
            Hello and welcome to my sample website. It shows a list of asteroids that are predicted to fly near earth
            on a given day. It's not like we have enough to worry about, right?
        </p>
        <dt><h4>Who am I?</h4></dt>
        <dd>
            My name is Jeremy Yung and I am an IT worker in the San Francisco Bay Area. My primary focus
            is to support the backend infrastructure for development teams, by whatever means necessary.
        </dd>
        <dt><h4>How did I make this site?</h4></dt>
        <dd>
            I started out by using the default Docker container for <a href="https://hub.docker.com/_/httpd/">Apache</a>.
            Then, I configured it to serve up a Python FLASK website. I then deployed it on Amazon's EC2 service, since
            it is very common.<sup>(i.e. cheap)</sup> All of the data is being pulled from NASA's Near Earth Object(NEO) API and then filtered by today's date.
        </dd>
        <dt><h4>Why did I make this?</h4></dt>
        <dd>
            I wanted to familiarize myself with the process of deploying a website, starting at the very beginning.
            It's a simple website that I plan to improve upon in the future, but it encapsulates the type of work I enjoy doing.
        </dd>
    </div>
</body>
</html>